/* Global Styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  background-color: rgba(255, 192, 229, 0.712);
}
.App {

  max-width: 600px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #ffefef; /* Fond blanc */
  border-radius: 12px; /* Coins plus arrondis */
  border: 1px solid #111111;
  box-shadow: 0 4px 20px rgba(0, 0, 0); /* Ombre plus marquée */
}

h1 {
  color: #333;
}

/* Styles pour le champ de saisie */
input {
  width: calc(100% - 150px);
  padding: 12px;
  margin-right: 10px;
  border: none;
  border-radius: 6px;
}

/* Styles pour le bouton d'ajout */
button {
  padding: 12px 20px;
  background-color: rgba(255, 192, 229, 0.712); /* Couleur violet */
  color: rgba(8, 8, 8, 0.856);
  border: 1px solid #111111;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition douce */
}

button:hover {
  background-color: #fdb3b3; /* Couleur plus foncée au survol */
}

/* Styles pour la liste des tâches */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 15px 0; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  border: 1px solid #111111;
  background-color: #f9f9f9; 
  padding: 20px; 
  border-radius: 6px; 
}

li.completed {
    text-decoration: line-through; 
    color: gray; 
}

/* Styles pour les boutons dans la liste des tâches */
li button {
    background-color: #ebcfeb9c; 
    border-radius:50%; 
    padding:10px; /* Ajustement du padding */
    
    border-color: #111111;
    color:white;
    cursor:pointer;
    transition: background-color .3s ease; /* Transition douce */
}

li button:hover {
    background-color:#d4b3d49c; 
}

/*pour les categories*/
/* Style pour le bouton de catégorie */
select {
  background-color: rgb(241, 169, 181); /* Couleur de fond similaire aux autres boutons */
  color: rgb(48, 46, 46);                /* Texte en blanc */
  padding: 10px 15px;        /* Espacement intérieur */
  font-size: 16px;           /* Taille du texte */
  border: none;              /* Enlever la bordure par défaut */
  border-radius: 7px;        /* Coins arrondis */
  cursor: pointer;           /* Curseur en forme de main */
  transition: background-color  0.3s ease; /* Animation au survol */
  margin-right: 50px; 
  margin-top: 12px;
}

/* Style au survol du bouton de catégorie */
select:hover {
  background-color: rgb(238, 189, 197); /* Couleur de fond plus foncée au survol */
}


/* Style au focus du bouton de catégorie */
select:focus {
  outline: none;            /* Enlever le contour bleu par défaut */
  border: 2px solid #3f3939; /* Ajout d'une bordure verte au focus */
}

/* Cercle de priorité */
.priority-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
}

/* Couleurs des priorités */
.priority-circle.faible {
  background-color: lightgreen; /* Vert clair pour faible */
}

.priority-circle.moyenne {
  background-color: yellow; /* Jaune pour moyenne */
}

.priority-circle.elevee {
  background-color: red; /* Rouge pour élevée */
}

.completed {
  text-decoration: line-through;
  color: gray;
}



/* Dark Mode Styles */

.dark-mode {
  background-color: #1a1b1c;
  /* Dark background for the app */
  
}

.dark-mode .App {
  background-color: #252728;
  /* Dark background for the app container */
}




h1 {
  color: #333;
  transition: color 0.3s ease;
}

.dark-mode h1 {
  color: #ecf0f1;
  /* Light color for text in dark mode */
}

.dark-mode input {
  background-color: #2c3e50;
  /* Dark input background */
  color: white;
  /* Light text for the input */
  border-color: #7f8c8d;
  /* Lighter border */
}

.dark-mode button {
  background-color: #34495e;
  /* Dark background for buttons */
  color: white;
  /* Light text color for buttons */
  border-color: #7f8c8d;
  /* Lighter border color */
}

.dark-mode button:hover {
  background-color: #16a085;
  /* Lighter button on hover */
}

.dark-mode li {
  background-color: #2c3e50;
  /* Dark background for list items */
  color: white;
}

.dark-mode li.completed {
  text-decoration: line-through;
  color: #7f8c8d;
}


.dark-mode li button {
  background-color: #16a085;
  /* Green background for task buttons in dark mode */
}

.dark-mode li button:hover {
  background-color: #1abc9c;
  /* Lighter green on hover */
}

.dark-mode .login-container {
  background-color: #34495e;
  /* Dark background for login container */
  color: white;
}

