.welcome-page { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
    background: linear-gradient(to bottom, hsl(33, 100%, 76%), hsl(320, 100%, 90%));
    animation: fade-in 1s ease-out;
  }
  @keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
  
}

  .welcome-page h1 {
    font-size: 4rem; /* Taille de la police */
    font-family:Georgia, 'Times New Roman', Times, serif; /* Change la famille de police */
    font-weight: bold; /* Rend le texte en gras */
    color: #eff2b9; /* Une couleur dorée */
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7); /* Ajoute un effet d'ombre */
    animation: text-glow 2s infinite alternate; /* Effet de lumière douce */
  
  }
  
